<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_about.css' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static './favicon.png' %}">
        <meta charset="UTF-8">
        <title>Photography — Sofya Alexeeva</title>
    </head>
    <body>
        <div class="background">
            <div class="container">
                <header>
                    <div class='logo'>
                        <div class="logo-container">              
                            <img src="{% static "Logo.jpg" %}" alt="" width="">
                            <div class="logo-gradient gradientText is__animated">photo</div>
                        </div>
                    </div>
                    <div class="sentence">Фотограф-анималист из Новосибирска</div>
                    <div class="buttons">
                        <a href={% url "index" %}><div class="button_r btn_1">Фотографии</div></a>
                        <a href={% url "postcards" %}><div class="button_r btn_2">Открытки</div></a>
                        <a href={% url "about" %}><div class="button_r btn_3" id="btn_3_active">Обо мне</div></a>
                        <a href={% url "contact" %}><div class="button_r btn_4">Контакты</div></a> 
                        {% comment %} <a class="underline underline-3" href={% url "about" %}><div>Обо мне</div></a> {% endcomment %}    
                    </div>
                </header>
                <div class="box_main">
                    <div class="main_body">
                        <div class="image_box"><img src="{% static "Portrait.jpg" %}" alt=""></div>
                        <div class="hello">Hello</div>
                        <div class="text_box"> 
                            <div class="text_header">Меня зовут Софья</div>
                            <div class="text_main"> Я фотографирую хвостиков в Новосибирске. Я искренне верю, что животные помогают человеку стать лучше. 
                                А еще, что все дворняшки - милашки:)
                                На этом сайте я постаралась собрать свои лучшие работы с пушистиками!
                            </div>
                        </div>
                        <div class="dots"><img src="{% static "Elipses.jpg" %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>