<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
        <link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
        <meta charset="UTF-8">
        <title>Photography — Sofya Alexeeva</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class='logo'>
                    <div class="logo-container">              
                        <img src="{% static 'img/Logo.jpg' %}" alt="" width="">
                        <div class="logo-gradient gradientText is__animated">photo</div>
                    </div>
                </div>
                <div class="sentence">Фотограф-анималист из Новосибирска</div>
                <div class="buttons">
                    <a href={% url "index" %}><div class="button_r btn_1">Фотографии</div></a>
                    <a href={% url "postcards" %}><div class="button_r btn_2">Открытки</div></a>
                    <a href={% url "about" %}><div class="button_r btn_3">Обо мне</div></a>
                    <a href={% url "contact" %}><div class="button_r btn_4" id="btn_4_active">Контакты</div></a>     
                </div>
            </header>
        </div>
    </body>
</html>