<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_index.css' %}">
        <link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
        <meta charset="UTF-8">
        <title>Photography — Sofya Alexeeva</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class='logo'>
                    <div class="logo-container">              
                        <img src="{% static 'img/Logo.jpg' %}" alt="" width="">
                        <div class="logo-gradient gradientText is__animated">photo</div>
                    </div>
                </div>
                <div class="sentence">Фотограф-анималист из Новосибирска</div>
                <div class="buttons">
                    <a href={% url "index" %}><div class="button_r btn_1" id="btn_1_active">Фотографии</div></a>
                    <a href={% url "postcards" %}><div class="button_r btn_2">Открытки</div></a>
                    <a href={% url "about" %}><div class="button_r btn_3">Обо мне</div></a>
                    <a href={% url "contact" %}><div class="button_r btn_4">Контакты</div></a>     
                </div>
            </header>
        </div>
        <div class="background">
            <div class="container">
                <div class="grid-parent">
                    <div class="grid" id="gallery">
                        <div class="grid-col">
                            {% for i in column_1%}
                                <a data-id="{{i.priority}}" onclick="pswpLightbox.loadAndOpen({{i.priority}});return false;" data-pswp-width="{{i.image.width}}" data-pswp-height="{{i.image.height}}" 
                                target="_blank" href="{{i.image.url}}"><div class="grid-item image"><img src="{{i.image.url}}" alt=""></div></a>
                            {% endfor %}
                        </div>
                        <div class="grid-col">
                            {% for i in column_2%}
                                <a data-id="{{i.priority}}" onclick="pswpLightbox.loadAndOpen({{i.priority}});return false;" data-pswp-width="{{i.image.width}}" data-pswp-height="{{i.image.height}}" 
                                target="_blank" href="{{i.image.url}}"><div class="grid-item image"><img src="{{i.image.url}}" alt=""></div></a>
                            {% endfor %}
                        </div>
                        <div class="grid-col">
                            {% for i in column_3%}
                                <a data-id="{{i.priority}}" onclick="pswpLightbox.loadAndOpen({{i.priority}});return false;" data-pswp-width="{{i.image.width}}" data-pswp-height="{{i.image.height}}" 
                                target="_blank" href="{{i.image.url}}"><div class="grid-item image"><img src="{{i.image.url}}" alt=""></div></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="module" src="{% static 'js/script.js' %}"></script>
    </body>
</html>
