<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static './favicon.png' %}">
        <meta charset="UTF-8">
        <title>Photography — Sofya Alexeeva</title>
    </head>
    <body>
        <div class="background">
            <div class="container">
                <header>
                    <div class='logo'>
                        <div class="logo-container">              
                            <img src="{% static "Logo.jpg" %}" alt="" width="">
                            <div class="logo-gradient gradientText is__animated">photo</div>
                        </div>
                        <p></p>
                    </div>
                    <div class="sentence">Фотограф-анималист из Новосибирска</div>
                    <div class="buttons">
                        <a class="underline underline-1" href={% url "index" %}><div>Галерея</div></a>
                        <a class="underline underline-2" href=""><div>Открытки</div></a>
                        <a class="underline underline-3" href={% url "about" %}><div>Обо мне</div></a>
                        <a class="underline underline-4" href=""><div>Контакты</div></a>     
                    </div>
                </header>
                {% comment %} <div class="box_main">
                    <div class="box_pict">
                        <div class="image">
                            <img src="{{ photos.0.image.url }}" alt="" width="">
                        </div>
                        <div class="image">
                            <img src="{{ photos.1.image.url }}" alt="">
                        </div>
                        <div class="image">
                            <img src="{{ photos.2.image.url }}" alt="">
                        </div>
                    </div>
                    <div class="box_pict">
                        <div class="image">
                            <img src="{{ photos.3.image.url }}" alt="">
                        </div>
                        <div class="image">
                            <img src="{{ photos.4.image.url }}" alt="">
                        </div>
                        <div class="image">
                            <img src="{{ photos.5.image.url }}" alt="">
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="grid">
            <div class="grid-item grid-item--height1"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item grid-item--height3"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item grid-item--height1"></div>
            <div class="grid-item grid-item--height1"></div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item grid-item--height3"></div>
            <div class="grid-item grid-item--height1"></div>
          </div>
    </body>
<script src="{% static 'js/imagerow.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>
