@import './var.scss';

body {
    color: $base-color;
    @include font_tweak('Montserrat', sans-serif, 500, 30px);
}

.container {
    max-width: 1250px;
    margin: auto;
}

.background {
    background-image: url(../img/Background.png);
    height: 5200px;
}

.logo {
    margin-top: 75px;
    margin-bottom: 130px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;

    img {
        max-width: 187px;
    }

    &-container {
        display: flex;
        max-width: 290px;
        align-items: center;

        &&-gradient {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
            @include font_tweak('Montserrat', sans-serif, 500, 85px);
            width: 252px;
            height: 77px;
            margin-left: -60px;
        }

        @keyframes move-background {
            0% {background-position: 0% 0%}
            50% {background-position: 100% 0%}
            100% {background-position: 0% 0%}
        }
        
        .gradientText {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .gradientText.is__animated {
            background-image: linear-gradient(90deg, #FCE1D0, #FEADD6, #A2BAF5);
            background-size: 500% 500%;
            animation: move-background 15s linear infinite;
        }
    }
}

.sentence {
    display: flex;
    justify-content: center;
    @include font_tweak('Montserrat', sans-serif, 400, 35px);
    margin-bottom: 75px;
    border-radius: 15px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    a {
        text-decoration: none;

        .button_r {
            width: 260px;
            height: 75px;
            border-radius: 20px;
            color: white;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            transition: 0.15s;
        
            &:hover {
                transform: scale(1.05);
            }
        
            .btn_1, .btn_2, .btn_3, .btn_4{
                background-color: $base-color;
            }
                    
            #btn_1_active{@include btn_active(#FFCAA9, #F98D98, #FFCDC6)}
            #btn_2_active{@include btn_active(#F98D97, #FF6ABA, #FFB8D1)}
            #btn_3_active{@include btn_active(#FF6CB9, #A39AFF, #F295FF)}
            #btn_4_active{@include btn_active(#A798FD, #6995FF, #C0C8FF)}
        } 
    }
}