.background{
    background-image: url(../Background_about.jpg);
    height: 1800px;
}

.box_main {
    width: 90%;
    margin: auto;
}

.main_body{
    width: 1120px;
    height: 700px;
    background-color: white;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 150px;
}


.hello{
    position: absolute;
    left: 610px;
    top: 40px;
    font-size: 120px;
    color: #292D38;
}

.dots{
    position: absolute;
    top: 90px;
    right: 100px;
}

.text_box{
    position: absolute;
    top: 285px;
    left: 450px;
    width: 570px;
    height: 290px;
    padding-left: 25px;
    padding-top: 35px;
    background-color: white;
    background-origin: content-box;
    border: 1px solid;
    border-color: #8F9ABD;
    line-height: 24px;
    box-sizing: border-box;
}

.text_header{
    font-size: 33px;
}

.text_main{
    padding-top: 40px;
    padding-left: 7px;
    padding-right: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    box-sizing: border-box;
}

.image_box{
    position: absolute;
    top: 120px;
    left: 100px;
}